<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Architects+Daughter" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>SceneryLens</title>
  </head>
  <body>
    <div class="site-container">
      <section class="hero is-primary is-small">
        <div class="hero-body">
          <p class="title has-text-centered" style="font-family:Architects Daughter;">
            <a href={{ url_for("index") }}>SceneryLens</a>
          </p>
        </div>
      </section>
      <div class="center site-content">
        <div class="py-5">
          <h4 class="is-size-5-desktop"> Detect the outdoor scenery of an image</h4>
          <p>*20 scene categories available*</p>
        </div>
    
        <form method="POST" action={{ url_for("results") }} enctype="multipart/form-data">
          
          <div id="file-upload-icon" class="file has-name columns is-centered">
            <label class="file-label">
              <input class="file-input" type="file" name="file">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
            </label>
          </div>
    
          <p>
            <input class="button is-primary" type="submit" value="Submit" onclick="startProcessing()">
            <button class="button is-light" onclick="listOfSceneries()">See list of sceneries</button>
          </p>
        </form>
        {% block content %}{% endblock %}
      </div>
      <footer class="has-text-centered py-2">
        <a href="https://github.com/rickyricky787/SceneryLens" target="_blank">Github</a>
      </footer>
    </div>

    <script>
      const fileInput = document.querySelector('#file-upload-icon input[type=file]');
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector('#file-upload-icon .file-name');
          fileName.textContent = fileInput.files[0].name;
        }
      }

      // For alerting when a user does not upload an image
      function startProcessing() {
        if (fileInput.files.length == 0) {
          alert("No image was uploaded!");
        }
      }

      // For displaying list of sceneries
      function listOfSceneries() {
        alert(
          "List of sceneries:\n" +
          "alley - bridge - canyon - desert - downtown - " + 
          "forest - grotto - iceberg - lake - mountain - " + 
          "ocean - park - rock arch - ruin - sky - " + 
          "skyscraper - snowfield - street - village - waterfall"
          );
      }

    </script>

  </body>
</html>